In [1]:
b = [1, 2, 3] #daily checking

In [4]:
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [5]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [6]:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [7]:
add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      /var/folders/2d/l778kf8s6_905nbwn3jp16l00000gn/T/ipykernel_76829/1411870314.py
Type:      function

In [2]:
import numpy as np

np.*rand*?

np.random

In [2]:
pip install numpy

Collecting numpy
  Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.26.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
a = 5

isinstance(a, (int, float))

True

In [4]:
# Duck Typing

def is_iterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [29]:
is_iterable('ibskd,')

True

In [1]:
import math
pi= math.pi

In [2]:
import test_pi
print(test_pi.f(5))

7

In [3]:
test_pi.PI

3.14159

In [4]:
c =''' sdhkjfzh,n
dsfbk.m,jnmdfsklx.,m'''

In [5]:
c

' sdhkjfzh,n\ndsfbk.m,jnmdfsklx.,m'

In [11]:
s= r"efjfksd,\hfjmlefvdslckjz.k"
s

'efjfksd,\\hfjmlefvdslckjz.k'

In [13]:
'88.46 Argentine Pesos are worth US$1'

'88.46 Argentine Pesos are worth US$1'

In [23]:
amount = 10
currency = 'Pesos'
rate = 88.46


f'{amount} {currency} is worth USD${amount/rate:.2f}'

'10 Pesos is worth USD$0.11'

In [26]:
val= 'Español'
val

'Español'

In [27]:
val_encoded = val.encode("utf-8")
val_encoded

b'Espa\xc3\xb1ol'

In [28]:
val_encoded.decode("utf-8")

'Español'

In [29]:
def add_and_maybe_multiply(a,b, c= None):

    result = a+b

    if c is not None:
        result = result*c

    return result

In [65]:
#Datetime
from datetime import datetime,  date, time, timedelta
dt = datetime.today()

In [47]:
dt= datetime.today()
dt

datetime.datetime(2023, 12, 11, 14, 15, 49, 192356)

In [33]:
dt.date()

datetime.date(2023, 12, 11)

In [34]:
dt.time()

datetime.time(14, 2, 33, 520058)

In [36]:
dt.hour

14

In [53]:
dt.strftime('%Y-%m-%d %M:%S')

'2023-12-11 15:49'

In [54]:
dt.strftime('%y-%m-%d %M:%S')

'23-12-11 15:49'

In [52]:
datetime.strptime("20190608", "%Y%m%d")

datetime.datetime(2019, 6, 8, 0, 0)

In [51]:
datetime.strptime("20190608", "%Y%m%d")

datetime.datetime(2019, 6, 8, 0, 0)

In [55]:
dt

datetime.datetime(2023, 12, 11, 14, 15, 49, 192356)

In [58]:
dt2 = datetime(2023, 10,11)

In [59]:
dt2

datetime.datetime(2023, 10, 11, 0, 0)

In [60]:
delta= dt-dt2
delta

datetime.timedelta(days=61, seconds=51349, microseconds=192356)

In [66]:
new_date = datetime.today() + timedelta(days = 1)

In [4]:
range(100_000)

range(0, 100000)

In [5]:
nested_tup = (4,5) , (1,2,3)

In [6]:
nested_tup

((4, 5), (1, 2, 3))

In [8]:
tup = (3,4,5,(5,6))

In [11]:
a,b,c,(d,e)= tup
d

5

In [12]:
a,b = 1,2
b,a = a,b
b,a

(1, 2)

In [14]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a,b,c in seq:
    print(f'a= {a}, b= {b}, c= {c}')

a= 1, b= 2, c= 3
a= 4, b= 5, c= 6
a= 7, b= 8, c= 9

In [17]:
values = 1,2,3,4,5,6

a,b, *rest = values
rest

[3, 4, 5, 6]

In [30]:
type(values)

tuple

In [18]:
values = 1,2,3,4,5,6
*rest, a,b = values
b

6

In [19]:
a = (1,2,2,2,2,3,3,4,4,5,5,5)
a.count(4)

2

In [20]:
a = [1,2,2,2,2,3,3,4,4,5,5,5]
a.count(2)

4

In [22]:
from collections import deque

In [23]:
lst = [1,2,2,2,2,3,3,4,4,5,5,5]
my_deque = deque(lst)
my_deque

deque([1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5])

In [24]:
my_deque.append(9)
my_deque.appendleft(10)
my_deque

deque([10, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 9])

In [25]:
my_deque.pop()

9

In [27]:
my_deque.popleft()

10

In [28]:
#pop is opposite of insert not append.
#pop and insert require index
#remove can be done based on value
# extend can be used to add multiple mvalues


#“Note that list concatenation by addition is a comparatively
# expensive operation since a new list must be created and the objects
# copied over. Using extend to append
# elements to an existing list, especially if you are building up a
# large list, is usually preferable”

a = ['saw', 'small', 'He', 'foxes', 'jdk;hl']
a.sort(key= len)

In [31]:
values = [1,2,3,4,5,6]

a,b, *rest = values
rest

[3, 4, 5, 6]

In [35]:
seq = [1,2,3,4,5,7,56,2,9]
seq[:]

[1, 2, 3, 4, 5, 7, 56, 2, 9]

In [42]:
d1= {}
type(d1)

dict

In [41]:
d1= set({1,2,3})
d1

{1, 2, 3}

In [43]:
d1= {'a': 4, "b": [a,b,c,d,e], "c": 'g'}
d1

{'a': 4, 'b': [1, 2, 9, 5, 6], 'c': 'g'}

In [44]:
d1[7]= 90
d1

{'a': 4, 'b': [1, 2, 9, 5, 6], 'c': 'g', 7: 90}

In [45]:
del d1['a'] #requires key

In [46]:
d1['dummy'] = 'some_value'
d1

{'b': [1, 2, 9, 5, 6], 'c': 'g', 7: 90, 'dummy': 'some_value'}

In [48]:
ret= d1.pop('dummy')

In [49]:
ret

'some_value'

In [50]:
d1

{'b': [1, 2, 9, 5, 6], 'c': 'g', 7: 90}

In [52]:
d1.items(), d1.values(), d1.keys()

(dict_items([('b', [1, 2, 9, 5, 6]), ('c', 'g'), (7, 90)]),
 dict_values([[1, 2, 9, 5, 6], 'g', 90]),
 dict_keys(['b', 'c', 7]))

In [53]:
# update method 

d1

{'b': [1, 2, 9, 5, 6], 'c': 'g', 7: 90}

In [54]:
d2 = {'c':'foo', 'k': 'bar'}

In [55]:
d1.update(d2)

In [56]:
d1

{'b': [1, 2, 9, 5, 6], 'c': 'foo', 7: 90, 'k': 'bar'}

In [58]:
tuples= zip(range(5), reversed(range(5)))
d= dict(tuples)
d

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [59]:
#dictionary is essentially a collection of 2-tuples, the dict function

In [60]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter= {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [61]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [69]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter= {}
for word in words:
    by_letter.setdefault(letter, []).append(word)

In [70]:
by_letter

{'b': ['apple', 'bat', 'bar', 'atom', 'book']}

In [71]:
from collections import defaultdict
words = ["apple", "bat", "bar", "atom", "book"]
by_letter= defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [72]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

0
defaultdict(<class 'int'>, {'apple': 1, 'banana': 2, 'orange': 3, 'grape': 0})

In [74]:
hash('string')

-8874813971660725303

In [75]:
hash([])

TypeError: unhashable type: 'list'

In [76]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [77]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
a.intersection(b)

{3, 4, 5}

In [80]:
c = a.copy()

In [81]:
c |=b

In [84]:
{tuple([])}  #set values should be hashable, i.e immutable

{()}

In [85]:
a

{1, 2, 3, 4, 5}

In [87]:
{1}.issubset(a)

True

In [88]:
{1,2,3} == {2,3,1}

True

In [90]:
#Built in Sequence Functions
#enumerate, sorted, zip
l1= ['foo', 'bar', 'baz']
l2= ['one', 'two', 'three']

l=zip(l1,l2)

In [91]:
list(l)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [94]:
string = ['saw', 'small', 'He', 'foxes', 'jdk;hl']

set(map(len, string))

{2, 3, 5, 6}

In [95]:
loc_mapping = {key: value for key, value in enumerate(string)}

In [96]:
loc_mapping

{0: 'saw', 1: 'small', 2: 'He', 3: 'foxes', 4: 'jdk;hl'}

In [102]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

[item for lst in all_data for item in lst if item.count('a') >= 2 ]

['Maria', 'Natalia']

In [103]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

[x for item in some_tuples for x in item]

[1, 2, 3, 4, 5, 6, 7, 8, 9]